.header {
    overflow: hidden;
    height: 70px;
    background-color: #290035;
  }

  .logo{
margin-left: 1px;
padding: left 20px; ;
  /* margin-bottom: 30px; */

  }

  .button{
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 10px;
  color: white;
  font-family: 'Rancho', cursive;
  transition-duration: 0.4s
  }